run = "npm start"
entrypoint = "index.js"
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80
